<button id="startButton">Begin channel setup</button><br />
<input type="file" disabled /><br />
<br />
RX progress <progress id="rx_progress" value="0"></progress><br />
TX progress <progress id="tx_progress" value="0"></progress><br />

<h2>Receive</h2>
<div id="receivedFiles"></div>

<script src='js/file_transfer.js'></script>
