<video id="localVideo" autoplay controls muted></video>
<video id="remoteVideo" autoplay controls></video>

<button id="startButton">Begin channel setup</button>
<button id="hangupButton">Stop</button>

<script src='js/mini_video.js'></script>
