<video id="localVideo" autoplay></video>
<video id="remoteVideo" autoplay></video>

<button id="startButton">Initiate</button>
<button id="hangupButton">Stop</button>

<script src='js/mini_video.js'></script>
